@charset "utf-8";

#plx-group-hero-image {
	@extend %plx-group;
	z-index: 1;
}

.plx-group-panel {
  @extend %plx-group;
  z-index: 3;
  > .plx-background {
  	@extend %plx-base;
    //padding: 5rem 0;
    margin-bottom: -1px;
  	background-color: $parallax-dark-background-color;
  	color: $parallax-on-dark-text-color;
  	&.lightbg {
  		background-color: $parallax-light-background-color;
  		color: $parallax-on-light-text-color
  	}
  }
}

.plx-group-divider {
  @extend %plx-group;
  z-index: 2;
  > .plx-window {
    @extend %plx-base;
    height: 100vh;
  }
  > .plx-background {
    @include make-plx-layer(-80px);
    background-size: cover;
    top: -40%;
    bottom: -40%;
    left: -1vw;
  }
}
