
#toast-container {
  display:block;
  position: fixed;
  z-index: 10000;

  // @include and-down($toast-full-width-breakpoint) {
  //   width: 100%;
  //   bottom: 0%;
  // // }
  // @include for-screens($toast-max-width, true) {
  //   @include and-up(for-screens-size()) {
  //     max-width: for-screens-value();
  //   }
  // }
  @include for-screens($toast-size-and-position, true) {
    $v: for-screens-value();
    @include and-up(for-screens-size()) {
      @each $side in map-keys($v) {
        #{$side}: map-get($v, $side);
      }
    }
  }
}

.toast {
  //I removed the toast shadow previously
  @extend .z-depth-1;
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width:100%;
  height: auto;
  min-height: $toast-height;
  line-height: 1.5em;
  background-color: $toast-color;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: $toast-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;

  .toast-action {
    color: $toast-action-color;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
  }

  &.rounded{
    border-radius: 24px;
  }

  @include and-down($toast-full-width-breakpoint) {
    width: 100%;
    border-radius: 0;
  }
}
