/* 
CSS Reset
Modified by: Billy Gallagher, 2017-02-21

Original sources:
html5doctor.com Reset Stylesheet v1.6.1 | Richard Clark - http://richclarkdesign.com 
sanitize.css v4.0.0 | CC0 License | github.com/10up/sanitize.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 //font-size:100%;
 vertical-align:baseline;
 background:transparent;
 box-sizing: border-box;
}
html {
  cursor: default;
  font-family: sans-serif;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
//body {
//  line-height: 1;
//}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
}
code, kbd, pre, samp {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  font-family: monospace, monospace;
  font-size: 1em;
}
nav ul, nav ol {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  //font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ffff99;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #ffff99;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000000;
  cursor: help;
  text-decoration: none;
}
dfn {
  font-style: italic;
}
small {
  font-size: 83.3333%;
}
sub, sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input, select, button {
  vertical-align: middle;
}
button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
::-moz-focus-inner {
 border-style: none;
 padding: 0;
}
:-moz-focusring {
 outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="checkbox"], [type="radio"] {
  padding: 0;
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
 height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-cancel-button, ::-webkit-search-decoration {
 -webkit-appearance: none;
}
::-webkit-input-placeholder {
 color: inherit;
 opacity: .54;
}
::-webkit-file-upload-button {
 -webkit-appearance: button;
 font: inherit;
}
